# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore backup files
*.bak
*.old
*.orig

# Ignore lock files
*.lock

# Ignore Julia-specific files
Manifest.toml
*.jl.cov
.julia/

# Ignore editor-specific files
.idea/
.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project

# Ignore build artifacts
*.o
*.a
*.so
*.dll
*.exe

# Ignore virtual environments
.env/
.venv/

# Custom additions
# Ignore articles_metadata_collection.tar.gz and directories
articles_metadata_collection.tar.gz
articles_metadata_collection/

# Ignore data directory
data/
MSC_2020(5).csv
art_soft.txt
soft_enc.csv
filt_rel_soft.csv
msc_edges.csv
msc_encoding_mat.csv
msc.txt
GNN_Julia/msc_parquet/
GNN_Julia/msc_arrow/arrow
GNN_Julia/msc_arrow/arrow_msc_to_soft
GNN_Julia/papers_edges_arrow
msc_paper_id.txt

GNN_Julia/multi_hot_encoded.csv
*.jls
GNN_Julia/filtered_edges
pca_model.jld2
